*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Capriola', sans-serif;
}
body {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 100vh !important;

}

html, body{
  overflow-x: hidden;
height: 100vh !important;
}


/* Login Page */
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-page  h1{
    font-size: 2rem;
    -webkit-text-stroke: .001rem #00bcd45c;
}

#login-page-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    place-items: center;
    width: 23rem;
}

#userName {
    padding: .7rem 1.5rem;
    border-radius: 50rem;
    width: 90%;
    margin: 1rem 0;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 7px -4px black;
}

#nameSubmitBtn {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50rem;
    padding: .5rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 0px 11px -4px #023A5E;
}
#nameSubmitBtn:hover {
    background-color: #277db7; /* Change color on hover */
}

/* Chat Container */
.chat-container {
    background-color: #fff;
    height: 100vh !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 33rem;
    overflow: hidden;
}

header {
  color: #fff;
  background: linear-gradient(#0587e2, #00bcd400);
  padding: .5rem 2rem 1rem 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#logo{
  width: 2.7rem;
}
#menuLogo{
  color: black;
  font-size: 2rem;
  display: block;
  cursor: pointer;

}
#cancelLogo{
  color: black;
  display: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
}
header h1{
    font-size: 1.6rem;
    color: #000000c4;
}






.slide{
  position: absolute;
  height: 100vh;
  width: 18rem;
  background: #d3ecff4a;
  right: -22rem;
  /* left: 47.5%; */
  padding: 1rem;
  transition: all ease-in-out .5s;
  display: flex;
  backdrop-filter: blur(7px);
  align-items: center;
  flex-direction: column;
  z-index: 99;

 
  
}

#activeHeading{
  font-size: 1.9rem;
  margin: 6rem 0 2rem 0;
  text-align: center;
}
#activeMembersList{
  margin: .6rem;
  font-size: 1.2rem;
}
.activeMembers{
  margin: 1rem 0;
  border-bottom: 1.5px solid #0000006e;
}













.container {
    height: 75vh;
    overflow-y: auto;
    position: relative;
    padding: 10px;
}
.message {
    padding: 0.625rem 0.9375rem;
    border-radius: 0.625rem;
    margin: 0.6rem 0.3rem;
    width: fit-content;
}

.left {
    background-color: #01436f;
    border-radius: 0 0.9rem 0.6rem 0.9rem;
    color: white;
    border-left: 0.1rem solid white;
    box-shadow: 0px 0px 5px -1px black;

}

.center {
  background-color: #000000e3;
  color: #fff;
  border-left: 0.1rem solid #ffffff9c;
  border-right: 0.1rem solid #ffffff9c;
  margin: .8rem auto;
  font-size: .8rem;
  box-shadow: 0px 0px 5px -1px black;
  font-family: math;
  padding: .2rem 1.6rem;
}
.right {
    background-color: #0074c2;
    box-shadow: 0px 0px 5px -1px black;

    color: #fff;
    margin-left: auto;
    border-radius: 0.9rem 0 0.9rem 0.6rem;
    border-right: 0.1rem solid white;
}

.inMessage-name{
    font-size: .7rem;
    color: #fbfcffc7;
    text-transform: capitalize;
    margin-bottom: .2rem;
}

.time{
    font-size: 0.6rem;
    text-align: end;
    color: #fbfcffc7;
    margin-top: 0.2rem;
}


/* Message Input Form */
#form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#messageInput {
    padding: .7rem 1.5rem;
    border-radius: 50rem;
    width: 86%;
    outline: none;
    border: none;
    font-size: 1rem;
    box-shadow: 0px 0px 7px -4px black;
}

#submitBtn {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 0px 11px -4px #023A5E;
}

#submitBtn:hover {
    background-color: #277db7; /* Change color on hover */
}



.scrolling {
    overflow-y: auto;
}
.scrolling::-webkit-scrollbar {
    width: 0.4rem;
}
.scrolling::-webkit-scrollbar-thumb {
    background-color: rgb(103 116 161 / 64%);
    border-radius: 100rem;
}
.scrolling::-webkit-scrollbar-track {
    background-color: transparent; 

}

@media screen and (max-width: 600px) {
    html{
        overflow: hidden;
        height: 100vh !important;
    }
    .chat-container {
        height: 100vh !important;
        width: 100%;
    }
    .slide{
        width: 60%;
    }
}

@media screen and (max-width: 350px) {
    html{
      font-size: 90%;
    }
}















.loading{
    padding: .4rem 1rem;
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #85e4ff;
    color: #92ebff;
    box-shadow: 9999px 0 0 -5px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
  }
  .dot-pulse::before, .dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fefdff;
    color: #ffffff;
  }
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
  }
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
  }
  
  @keyframes dot-pulse-before {
    0% {
      box-shadow: 9984px 0 0 -5px;
    }
    30% {
      box-shadow: 9984px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 9984px 0 0 -5px;
    }
  }
  @keyframes dot-pulse {
    0% {
      box-shadow: 9999px 0 0 -5px;
    }
    30% {
      box-shadow: 9999px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 9999px 0 0 -5px;
    }
  }
  @keyframes dot-pulse-after {
    0% {
      box-shadow: 10014px 0 0 -5px;
    }
    30% {
      box-shadow: 10014px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 10014px 0 0 -5px;
    }
  }

/* .StopTyping {
    display: none;
    position: absolute;
    bottom: 0;
} */

p#stopTypingName {
    color: black;
    margin-top: 0.2rem;
}
